<div class="container">
        <div class="jumbotron">
<h1 class="text-center">{{ title }}</h1>
  
<div class="form-group">
<input type="text" class="form-control" style="max-width:300px" #newtodo>

<button class="btn btn-default" (click)="addTodo(newtodo.value); newtodo.value=''">Add todos</button>
</div>

<div class="table-responsive">
<table class="table">
    <tr>
        <th>Description</th>
        <th>Delete</th>
        <th>Edit</th>
        
    </tr>
    <tr *ngFor="let todo of todolist">
        <td>            
            <h5>{{todo.description}}</h5>
        </td>
        <td>
            <button class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
        </td>
        <td>
            <button class="btn btn-primary" (click)="editTodo()">edit</button>
        </td>
    </tr>
</table>
</div>
</div>
</div>
